version: '3.8'

services:
  db:
    image: pgvector/pgvector:pg15
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-bia}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-bia123}
      POSTGRES_DB: ${POSTGRES_DB:-mydb}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    depends_on:
      - db
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-bia}:${POSTGRES_PASSWORD:-bia123}@db:5432/${POSTGRES_DB:-mydb}?schema=public

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend

volumes:
  postgres_data:
